//
   Created by csharon on 3/24/14.
.container
  h1
    i.fa.fa-user
    span User Admin

  hr
  table.table.table-responsive.table-striped.table-hover
    thead
      tr
        th USERNAME
        th NAME
        th ADMIN
    tbody
      tr(ng-repeat="user in userManager.users")
        td {{user.username}}
        td {{user.fullName()}}
        td
          input(type="checkbox", ng-checked="user.hasRole('admin')")

