extends layout

block main-content
  .navbar.navbar-inverse.navbar-fixed-top
    .container
      .navbar-header
        a.navbar-brand(href="/")
          span MultiVision
          h6.navbar-text -Extreme Tech Training
      .navbar-collapse.collapse
        ul.nav.navbar-nav
          li
            a(href="/") Home
        div(ng-include="'/app/account/navbar-login.html'")
          
  section.content
    div(ui-view)


  footer.container.text-center
    p &copy; 2014 XDoji, LLC.
