.navbar-right(ng-controller="mvNavbarLoginCtrl")
  form.navbar-form(ng-if="!identity.isAuthenticated()")
    .form-group
      input.form-control(placeholder="Email", ng-model="username")
    .form-group
      input.form-control(type="password", placeholder="Password", ng-model="password")
    button.btn.btn-primary(ng-click="signin(username, password)") Signin

  ui.nav.navbar-nav.navbar-right(ng-if="identity.isAuthenticated()")
    li.dropdown
      a.dropdown-toggle(href="", data-toggle="dropdown")
        | {{identity.currentUser.fullName()}}
        b.caret
      ul.dropdown-menu
        li(ng-show="identity.isAdmin()")
          a(href="", ng-click="getUsers()") User Admin
        li
          a(href="", ng-click="signout()") Sign Out