//
   Vendor Scripts
script(src="/vendor/jquery/dist/jquery.js")
script(src="/vendor/bootstrap/dist/js/bootstrap.js")
script(src="/vendor/toastr/toastr.js")
script(src="/vendor/lodash/dist/lodash.js")
script(src="/vendor/angular/angular.js")
script(src="/vendor/angular-ui-router/release/angular-ui-router.js")
script(src="/vendor/restangular/dist/restangular.js")

//
  App Scripts
script(src="/app/app.js")
script(src="/app/main/mv-main-ctrl.js")
